@font-face{font-family:'DM Serif Display';font-weight:400;font-display:swap;src:url(dmserif.woff2) format('woff2')}
@font-face{font-family:'DM Mono';font-weight:400;font-display:swap;src:url(dmmono400.woff2) format('woff2')}
@font-face{font-family:'DM Mono';font-weight:500;font-display:swap;src:url(dmmono500.woff2) format('woff2')}
@font-face{font-family:'Source Sans 3';font-weight:200 900;font-display:swap;src:url(source.woff2) format('woff2')}
